<div class="ajax-container">
  <div class="success-content">
    <div class="page-title"><h2>{{ heading_title }}</h2></div>
    {{ text_message }}
    <div class="buttons">
      <div class="pull-right"><button class="button" onclick="window.location.href='{{ continue }}'"><span>{{ button_continue }}</span></button></div>
    </div>
  </div>
</div>