.frm-settings {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding: 20px;
}
.frm-settings .form-group { margin: 0; }
.form-group .col-text {
    padding-top: 9px;
    padding-left: 20px;
}
.form-group .col-text h4 {
    margin: 8px 0;
}
.form-group .col-btn {
    padding-right: 50px;
}
.frm-settings + .frm-settings { border-top: 1px solid #dcdcdc; }
.frm-settings h4 { font-weight: 600; }
.form-group .form-sp { margin-bottom: 10px; text-transform: uppercase; }
.panel-body .frm-left { float: left; width: 100%;}
.panel-body .frm-right { float: left; width: 100%; }
.panel-body .frm-right .btn-delete { background-color: #dc0909; color: #fff; }
.panel-body .frm-right .btn-delete:hover { background-color: #ec4d3a; color: #ffffff; }
.panel-body .frm-right.frm-menu {
    border: 1px solid #fac9af;
    margin-top: 20px;
}
.panel-body .frm-menu .btn-action {
    padding: 0 50px;
    text-align: center;
    margin-top: 10px;
}
.panel-body .frm-menu .btn-action .btn-add {
    width: 100%;
    background: #f6f6f6;
    border: 1px dashed #43556c;
    color: #709ad2;
    font-size: 20px;
    border-radius: 0;
}
.panel-body .frm-menu .btn-action .btn-add:hover {
    color: #385377;
}
.frm-title {
    text-transform: uppercase;
    color: #eb5202;
    margin-bottom: -5px;
    margin-top: 10px;
    font-weight: 700;
    font-size:  18px;
    padding:  0 50px;
}
.menu_item_container {/*! margin: 0 20px; */padding: 0 50px;}
.menu_item_container .top_item_container {}
.menu_item_container .top_item_content {margin-bottom: 5px;background: #000;padding: 4px 4px 4px 50px;}
.menu_item_container .top_item_content:last-child {margin-bottom: 0px;}
.menu_item_container .top_item_content:hover {cursor: move;}
.menu_item_container .item {line-height: 10px;margin: 0;}
.menu_item_container .item > div {line-height: 20px;padding: 0;}
.menu_item_container .item > div .a-delete {color: #f5f5f5;}
.menu_item_container .item .action {text-align: right;display: none;float:  left;position:  absolute;right: 0;top: 0;}
.menu_item_container .item:hover .action {display: block;}
.menu_item_container .item .action a {margin: 0 5px;}
.menu_item_container .item .del-name .fa {
    float: left;
    font-size: large;
    line-height: 20px;
    padding: 0 10px;
}
.menu_item_container .item .del-name > div {
    float: left;
}
.menu_item_container .item .del-name .del-action {
    padding: 3.5px 0;
    line-height: 13px;
}
.menu_item_container .item .del-name .ck-del,
.menu_item_container .item .del-name .name span {margin: 0;padding: 0;border: 0 !important;font-weight: bold;}
.menu_item_container .item .del-name .name {
    padding: 0 20px;
    line-height: 20px;
}
.menu_item_container .item .del-name {
    padding: 0;
    width:  100%;
    float:  left;
    display:  block;
}
.menu_item_container .item .expand {float: left;position:  absolute;top: 39%;left: -31px;font-size:  18px;color:  #fff;}
.menu_item_container .item .expand::after {font-family: FontAwesome;}
.menu_item_container .item .expand.parent::after {content: "\f068"}
.menu_item_container .item .expand.collapsed::after {content: "\f067"}
.menu_item_container .item > div .a-config {color: #f5f5f5;padding: 14px 18px;line-height: 18px;background: #385477;margin: 0;float:  left;}
.menu_item_container .item > div .a-config:hover {background: #5a2504; color: #fff;}
.menu_item_container .item > div .a-delete:hover {background: #ce1010;}
.menu_item_container .item {background: #242d38;color: #f5f5f5;position:  relative;padding: 12px 20px;}
.menu_item_container .second_item_container {padding: 4px 4px 4px 50px;border: 1px solid #43566d;margin-top:  5px;}
.menu_item_container .second_item_container .second_item_content {background-color: #000; margin-bottom: 5px;}
.menu_item_container .second_item_container .second_item_content:last-child {margin-bottom: 0;}
.menu_item_container .third_item_container {padding: 4px 4px 4px 50px;border: 1px solid #43566d;margin-top:  5px;}
.menu_item_container .third_item_container .third_item_content {margin-bottom: 5px;}
.menu_item_container .third_item_container .third_item_content:last-child {margin-bottom: 0;}
.ui-state-highlight { min-height: 50px; background: url(../../image/bg/pattern.png) repeat; margin-bottom: 5px; border: 0;}
.ui-top-highlight { margin-bottom: 5px; }
#form-container-bg { display: none; background-color : rgba(0,0,0,0.35); top: 0; left: 0; right: 0; bottom: 0; margin: auto; position: fixed; z-index: 2000; }
#form-ajax-loader { display: none; position: fixed; top: 50%; left: 50%; z-index: 2010; }
#form-container {
    position: fixed;
    background-color: #FFFFFF;
    display: none;
    z-index: 2020;
    width: 80%;
    height: 100%;
    top: 0;
    bottom: 5%;
    left: 0;
}
#form-container a.a-close {
    color: #fff;
    background: #000;
    width: 50px;
    height: 50px;
    line-height: 46px;
    font-size: x-large;
    top: 0;
    left: 80%;
    position: fixed;
    text-align: center;
    cursor: pointer;
}
#form-container a.a-close:hover{
    background-color: #eb5202;
}
.frm-container {
    height: 100%;
    /*! padding-bottom: 75px; */
}
.frm-container .frm-heading {
    padding: 15px;
    padding-bottom: 0;
    display: none;
}
.frm-container .frm-body .frm-right {
    overflow: auto;
    max-height: calc(100% - 85px);
}
.sub-form-container { overflow: auto; }
.frm-container .frm-body .frm-list {
    list-style: none;
    padding: 0 15px;
    margin: 0;
}
.frm-container .frm-body .frm-list li {
    background-color: #ccc;
    display: inline-block;
    vertical-align: top;
    width: auto;
    text-align: center;
    position: relative;
}
.frm-container .frm-body .frm-list li:hover {
    background-color: #385477;
}
.frm-container .frm-body .frm-list li.active {
    background-color: #385477;
}
.frm-container .frm-body .frm-list li a{
    font-size: larger;
    color: #000;
    display: block;
    padding: 15px 30px 15px 55px;
}
.frm-container .frm-body .frm-list li a:before {
    content: "1";

    width: 30px;
    height: 30px;
    background: #fff;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -15px;
    line-height: 30px;
    border-radius: 100%;
    color: #000;
}
.frm-container .frm-body .frm-list li:last-child a:before {
    content: "2";
}
.frm-container .frm-body .frm-list li:hover a {
    color: #fff;
}
.frm-container .frm-body .frm-list li.active a {
    color: #fff;
}
.frm-container .frm-body .frm-group {
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.frm-container .frm-body .frm-group .frm-label {
    text-align: right;
    padding-top: 9px;
    text-transform: capitalize;
    font-size: 14px;
}
.frm-container .frm-body .frm-group .form-control {
    /*! -webkit-border-radius: 20px; */
    /*! -moz-border-radius: 20px; */
    /*! border-radius: 20px; */
}
.frm-container .frm-body .frm-group .input-group-addon {
    border: none;
    background: none;
}
.frm-group + .frm-group {
    border-top: 1px solid #ededed;
}
.form-group .col {
    float: left;
}
.form-group .col-label {
    line-height: 36px;
    margin: 0;
    padding: 0 5px;
    width: 30%;
    text-align:  center;
}
.form-group + .form-group {
    border-top:0;
}

.form-group .col-input {
    width: 70%;
}
#form-menu .frm-left .form-group:first-child {
    width: 40%;
    padding-left: 0;
}

#form-menu .frm-left .form-group {
    width: 30%;
    float: left;
    margin: 0;
    padding-left: 15px;
}
.input-group + .input-group {
    margin-top: 5px;
}
.panel-heading .btn-title {
    position: absolute;
    top:50%;
    right:15px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.frm-container .frm-body .frm-group .btn-widget {
    border-radius: 3px;
    background-color: #385477;
    color: #fff;
    border: none;
}
.frm-container .frm-body .frm-group .btn-widget:hover, .frm-container .frm-body .frm-group .btn-widget:active,
.frm-container .frm-body .frm-group .btn-widget:focus, .frm-container .frm-body .frm-group .btn-widget:visited {
    background-color: #000;
    color: #fff;
}
.frm-container .frm-body .frm-info {
    font-style: italic;
    margin: 5px 0 10px 15px;
}
.frm-container .frm-body .frm-loader-img {
    width: 34px;
    display: none;
}
.frm-container .frm-body .widget-container {
    display: block;
    float: left;
    margin: 15px 0 0 0;
    width: 100%;
    height: 595px;
    padding: 15px 0;
    border: solid 1px #dcdcdc;
    background-color: #000000;
    overflow: auto;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.frm-container .frm-body {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.frm-body .frm-button {
    position: absolute;
    right: 15px;
    top: 2px;
    width: 14%;
}
.frm-body .frm-button .btn-submit { width: 100%; }
.widget-container .p-widget-items {text-align: center;top: 40%;position: relative;font-weight: bold;font-size: x-large;}
.widget-block {
    position: relative;
    margin: 10px 0;
}
.widget-block.w-transition {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.widget-block .widget-configuration {
    position: absolute;
    background: #fff;
    border: 1px solid #385477;
    border-top: none;
    top: 100%;
    z-index: 10;
    display: none;
    left: 15px;
    right: 15px;
    padding: 10px;
}
.widget-block .widget-configuration .option { margin-bottom: 10px; }
.widget-block .widget-configuration .option input[type='text'] {width: 100%;padding-left: 5px;font-size: 12px;line-height: 20px;border: 1px solid #ccc;border-radius: 3px;}
.widget-block .widget-configuration.active {
    display: block;
}
.widget-content {
    padding: 15px 10px;
    background: #385477;
    font-size: 14px;
    position:  relative;
}
.widget-content:hover {
    cursor: move;
}
.widget-content .a-left {
    color: #242d38;
    margin: 0 5px;
    position: absolute;
    top: 30%;
    background:  #fff;
    border: 1px solid #ffffff;
    width:  20px;
    text-align:  center;
    display: none;
    cursor:  ew-resize;
}
.widget-content:hover .a-left {
    display: block;
}
.widget-content .a-left:hover {
    color: #fff;
    background-color: #242d38;
    margin: 0 5px;
}
.widget-content .a-resize-minus {
    left: -18px;
}
.widget-content .a-resize-plus {right: -18px;}
.widget-content .widget-name-container {
    /* float: left; */
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFF;
}
.widget-content .widget-name-container .name {
    /*font-weight: bold;*/
}
.widget-content .widget-action {position: absolute;right: 0px;top: -19px;display: none;}
.widget-content:hover .widget-action {display: block;}
.widget-content .widget-action .a-config {
    color: #fff;
    cursor: pointer;
    background: #242d38;
    float:  left;
    font-size: 12px;
    padding: 1px 6px;
}
.widget-content .widget-action .a-config:hover {
    background: #5a2504;
}
.widget-content .widget-action .a-delete:hover {
    background: #ce1010;
}
.modal {
    z-index: 3050;
}
.widget-block.ui-state-highlight {
    background: none;
    border: none;
}
.widget-block.ui-state-highlight .widget-content {
    height: 49px;
    background: url(../../image/bg/pattern.png) repeat;
}
.frm-container .frm-body .sub-form-container {
    margin: 0 15px;
}
.frm-container .frm-body .sub-form-container .frm-group {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sub-frm { max-height: 530px; }
.sub-frm .btn-sub-item { width: 100px; color: #fff; background-color: #1e91cf; }
.sub-frm .btn-sub-item .fa { margin: 5px;}
#form-container .frm-container .frm-body .frm-left {
    background: #ddd;
    margin-bottom: 30px;
}

@media (max-width: 1600px) {
    .frm-container .frm-body .widget-container {
        height: 440px;
    }
}
@media (max-width: 1366px) {
    .frm-container .frm-body {
        font-size: 12px;
    }
    .frm-container .frm-body .widget-container {
        height: 335px;
    }
    .frm-container .frm-body .frm-group {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .frm-container .frm-body .frm-group .btn-widget {
        font-size: 12px;
    }
    .frm-container .frm-body .frm-loader-img {
        width: 27px;
    }
}