@font-face {
  font-family: 'gilroy';
  src: url('../fonts/Gilroy-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'gilroy';
  src: url('../fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'gilroy';
  src: url('../fonts/Gilroy-Light.ttf');
  font-weight: 300;
  font-style: normal;
}